extends layout

block content
  span(class='topbar')
    a(href='http://localhost:9001/')
        p Home
    a(href='http://localhost:9001/createstory')
        p Stories

  div(class='center')
   p Number of users: #{ucount}
   p Number of stories: #{scount}
   p(class='largetopmargin') Most used words are:
   each word in mostusedword
      li #{word._id} with #{word.total_words} uses 

   - if (typeof(ustories) !== 'undefined'){
   p(class='largetopmargin') Your stories: 
    each story in ustories
      li
         a(href='http://localhost:9001/story/#{story.title}')
            p #{story.title}
    -}

    - if (typeof(ulogs) !== 'undefined'){
   p(class='largetopmargin') Your Logins: 
    each log in ulogs
        li Date: #{log.date} Ip: #{log.ip}
    -}
             

